.vscode
env
.env
tokens*
__pycache__/
.vscode/
*.ipynb
menu.txt
play*
pg*
refresh-tokens*
ax.fp
bookmark.json
sentry/
*.json
active.number
venv/
# local firebase/cache
app/data/
app/.secrets/
app/firebase.config.json
app/*firebase-adminsdk*.json
app/data/firebase_auth.json
app/data/cache.json
